body {
    font-family: 'Actor';font-size: 22px;
    background-color: white;
}

.container{
    display: grid;
}

.header{
    text-align: center;
}

#form1{
    display: inline-block;
    text-align: center;
}

#wordcloud {
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: auto;
}