body {
    font-family: 'Actor';font-size: 22px;
    background-color: white;
    text-align: center;
}

#container{
    
 }

.header{

}

#hearts{
    
}

#mainform{
    
}

#wordcloud {
    border-radius: 10px;
    width: 90%;
    margin: auto auto;
    height: auto;
}

#uFreq{
	width: 90%;
	text-align: center;
}