body {
    font-family: 'Actor';font-size: 22px;
    background-color: white;
}

.container{
    display: grid;
}

.header{
    text-align: center;
}

#hearts{
    text-align: center;
}

#mainform{
    text-align: center;
}

#wordcloud {
    border-radius: 10px;
    width: 100%;
    height: auto;
}